@(message: String, detail: model.JobDetail)

@main("Welcome to Play Framework") {

      
    
    <div class="tab-content">
            <div class="div-edge">
            	<div class="row">
					<div class="col-sm-12">    
					    <div class="form-group col-xs-4 ">
				    		<label for="stateId" class="control-label">Last Build: @detail.lastBuild</label><br>
				    		<label for="stateId" class="control-label">User: @detail.user</label><br>
				    		<label for="stateId" class="control-label">Result: @detail.result</label><br>
				    		<label for="stateId" class="control-label">Total Tests: @detail.totalTest</label><br>
				    		<label for="stateId" class="control-label">Failure Tests: @detail.failureTest</label><br>
				    		<label for="stateId" class="control-label">Skip Tests: @detail.skipTest</label><br>
            			</div>
            		</div>
            	</div>
           	</div>
          
		</div>

}
