@(detail: model.JobDetail)

@main("Welcome to Play Framework") {

    <br/>
	<h1>@detail.name</h1>
	<br/>
    
    <div class="tab-content" style="float: left;  width:48%">
    		<h1>DETAIL LAST JOB</h1>
    		<label for="stateId" class="control-label">Last Build: @detail.lastBuild</label><br>
    		<label for="stateId" class="control-label">User: @detail.user</label><br>
    		<label for="stateId" class="control-label">Result: @detail.result</label><br>
    		<label for="stateId" class="control-label">Total Tests: @detail.totalTest</label><br>
    		<label for="stateId" class="control-label">Failure Tests: @detail.failureTest</label><br>
    		<label for="stateId" class="control-label">Skip Tests: @detail.skipTest</label><br>
	</div>
		
	<div class = "tab-content"  style="float: left;  width:48%">
			<h1>SUMMARY ALL JOBS</h1>
			<label class="control-label">@Html(detail.status)</label><br>
	</div>	

}
